---
import ExternalCTA from "@components/ui/buttons/ExternalCTA.astro";

---

<div id="container">
  <h1 class="font-english my-10">H12345</h1>
  <h1 class="font-english my-10">H12345</h1>
  <h1 class="font-english my-10">H12345</h1>
  <h1 class="font-english my-10">H12345</h1>
  <h1 class="font-english my-10">H12345</h1>
  <h1 class="font-english my-10">H12345</h1>
  <h1 class="font-english my-10">H12345</h1>
  <div class="flex">
    <div class="w-36 h-36 bg-primary-50"></div>
    <div class="w-36 h-36 bg-primary-100"></div>
    <div class="w-36 h-36 bg-primary-200"></div>
    <div class="w-36 h-36 bg-primary-300"></div>
    <div class="w-36 h-36 bg-primary-400"></div>
    <div class="w-36 h-36 bg-primary-500"></div>
    <div class="w-36 h-36 bg-primary-600"></div>
    <div class="w-36 h-36 bg-primary-700"></div>
    <div class="w-36 h-36 bg-primary-800"></div>
    <div class="w-36 h-36 bg-primary-900"></div>
    <div class="w-36 h-36 bg-primary-950"></div>
  </div>
  <div class="flex">
    <div class="w-36 h-36 bg-accent-50" ></div>
    <div class="w-36 h-36 bg-accent-100"></div>
    <div class="w-36 h-36 bg-accent-200"></div>
    <div class="w-36 h-36 bg-accent-300"></div>
    <div class="w-36 h-36 bg-accent-400"></div>
    <div class="w-36 h-36 bg-accent-500"></div>
    <div class="w-36 h-36 bg-accent-600"></div>
    <div class="w-36 h-36 bg-accent-700"></div>
    <div class="w-36 h-36 bg-accent-800"></div>
    <div class="w-36 h-36 bg-accent-900"></div>
    <div class="w-36 h-36 bg-accent-950"></div>
  </div>
  <div class="flex">
    <div class="w-36 h-36 bg-neutral-50" ></div>
    <div class="w-36 h-36 bg-neutral-100"></div>
    <div class="w-36 h-36 bg-neutral-200"></div>
    <div class="w-36 h-36 bg-neutral-300"></div>
    <div class="w-36 h-36 bg-neutral-400"></div>
    <div class="w-36 h-36 bg-neutral-500"></div>
    <div class="w-36 h-36 bg-neutral-600"></div>
    <div class="w-36 h-36 bg-neutral-700"></div>
    <div class="w-36 h-36 bg-neutral-800"></div>
    <div class="w-36 h-36 bg-neutral-900"></div>
    <div class="w-36 h-36 bg-neutral-950"></div>
  </div>
</div>

<div class=" my-10">
  <ExternalCTA title="ddd" url="dd"/>
</div>
