---
import Hero from "@components/sections/Hero.astro";
import CKRed from "@images/home/ck_red.jpg";
import EventCarousel from "@components/sections/EventCarousel";
import News from "../sections/News";

import { getCollection } from "astro:content";

import type { Slide } from "@components/sections/EventCarousel.tsx";
import type { CollectionEntry } from "astro:content";

const allEvents = await getCollection("events");

const sortedEvents = allEvents.sort(
  (a: CollectionEntry<"events">, b: CollectionEntry<"events">) =>
    b.data.date.valueOf() - a.data.date.valueOf()
);

const slidesForCarousel: Slide[] = sortedEvents.map((event) => {
  return {
    image: event.data.image,
    gradientStart: event.data.gradientStart,
    gradientEnd: event.data.gradientEnd,
    date: event.data.date,
    link: event.data.link,
    organizer: event.data.organizer,
    description: event.body,
    caption: event.data.title,
  };
});
---

<Hero
  title='建中出才子，才子躍<span class="text-accent-300 ">社團</span>！'
  subTitle="探索超過 60 個精彩社團"
  imgAlt="建中紅樓"
  imgSrc={CKRed}
  primaryBtn="查看社團資料庫"
  primaryBtnURL="/clubs"
  secondaryBtn="近期活動"
  secondaryBtnURL="#event"
  SectionId="hero"
/>

<EventCarousel id="event" slides={slidesForCarousel} client:visible />
<News id="news" client:visible/>
