#interactive-map-svg path[id^="club-"] {
  cursor: pointer;
  transition: fill 0.2s ease-in-out;
}

#interactive-map-svg path[id^="club-"]:not(.selected):hover {
  fill: #ff8036 !important;
  stroke-width: 0.7 !important;
  stroke: #ffac7b !important;
  transition: stroke-width 0.2s ease !important;
  transition: fill 0.2s ease !important;
}

#interactive-map-svg path.selected[id^="club-"]:hover {
  fill: #d33131 !important;
}

#interactive-map-svg path.selected {
  fill: #ff4e4e !important;
  stroke-width: 0.7 !important;
  stroke: #ffac7b !important;
}

.club-label {
  font-size: 8px;
  font-weight: bold;
  fill: #1a202c; 
  stroke: white; 
  stroke-width: 0.3px;
  paint-order: stroke fill;
  pointer-events: none;

  /* opacity: 0; */
  transition: opacity 0.3s ease-in-out;
}

#interactive-map-svg.is-zoomed-in .club-label {
  opacity: 1;
}