---
import { ChevronDown } from "lucide-react";

interface Props {
  question: string;
  answer: string;
}
const { question, answer } = Astro.props;
---

<div class="details border-b border-primary-50 dark:border-primary-700 pb-2 last:border-b-0">
  <h2
    class="summary-question flex cursor-pointer pb-4 pt-2 list-none items-center justify-between text-balance font-bold text-primary-800 transition hover:text-primary-600 hover:dark:text-primary-700 md:text-lg"
  >
    {question}
    <div class="transition-transform duration-300">
      <ChevronDown />
    </div>
  </h2>

  <div
    class="details-answer -mt-2 mb-2 overflow-hidden block transition-[max-height] duration-300 ease-in-out max-h-0"
  >
    <p class="pb-2  text-pretty text-primary-700">
      {answer}
    </p>
  </div>
</div>
