---
import NavLink from "@components/ui/links/NavLink.astro";
import BrandLogo from "@components/BrandLogo.tsx";
import Strings from "@utils/navigation.ts";
import ThemeToggle from "@components/ThemeToggle";
import { Menu } from 'lucide-react';

const homeUrl = Astro.currentLocale === "fr" ? "/fr" : "/";
---

<!-- Main header component -->
<header
  class="sticky inset-x-0 top-4 z-50 flex w-full flex-wrap text-sm md:flex-nowrap md:justify-start"
>
  <!-- Navigation container -->
  <nav
    class="relative mx-2 w-full rounded-[36px] border border-accent-400/40 bg-accent-200/60 px-4 py-3 backdrop-blur-sm md:flex md:items-center md:justify-between md:px-6 md:py-0 lg:px-8 xl:mx-auto"
    aria-label="Global"
  >
    <!-- <h1>Header</h1> -->
    <div class="flex items-center justify-between">
      <!-- Brand logo -->
      <a
        class=" ml-1 flex-none rounded-lg text-xl font-bold outline-hidden ring-accent-600 focus-visible:ring-3"
        href={homeUrl}
        aria-label="Brand"
      >
        <BrandLogo client:load w={160} />
      </a>
      <!-- Collapse toggle for smaller screens -->
      <div class="ml-auto mr-5 md:hidden">
        <button
          type="button"
          class="hs-collapse-toggle flex h-8 w-8 items-center justify-center rounded-full text-sm font-bold transition duration-300 hover:bg-neutral-200 disabled:pointer-events-none disabled:opacity-50"
          data-hs-collapse="#navbar-collapse-with-animation"
          aria-controls="navbar-collapse-with-animation"
          aria-label="Toggle navigation"
        >
          <Menu />
        </button>
      </div>
      <!-- ThemeIcon component specifically for smaller screens -->
      <span class="inline-block md:hidden">
        <ThemeToggle client:load />
      </span>
    </div>
    <div
      id="navbar-collapse-with-animation"
      class="hs-collapse hidden grow basis-full overflow-hidden transition-all duration-300 md:block"
    >
      <!-- Navigation links container -->
      <div
        class="mt-5 flex flex-col gap-x-0 gap-y-4 py-1 md:mt-0 md:flex-row md:items-center md:justify-end md:gap-x-4 lg:gap-x-7 md:gap-y-0 md:ps-7"
      >
        <!-- Navigation links and Authentication component -->
        {
          Strings.navBarLinks.map((link) => (
            <NavLink url={link.url} name={link.name} />
          ))
        }

        <!-- ThemeIcon component specifically for larger screens -->
        <span class="hidden md:inline-block">
          <ThemeToggle client:load />
        </span>
      </div>
    </div>
  </nav>
</header>
