---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import InteractiveMap from "@components/InteractiveMap.tsx";

const allClubsData = await getCollection("clubs");

const clubsIndex = allClubsData.map((club) => ({
  mapId: club.data.mapId,
  clubId: club.data.id,
  name: club.data.name,
  summary: club.data.summary,
  slug: club.slug,
  tags: club.data.tags,
}));
---

<Layout>
  <div class="text-center max-w-6xl mx-auto px-4 mt-12 sm:mt-12 md:mt-0">
    <h1 class="text-4xl sm:text-5xl font-bold text-primary-800 mb-4">
      社團博覽會地圖
    </h1>
    <p class="text-lg text-neutral-600">探索感興趣的社團！</p>
  </div>
  <div>
    <InteractiveMap client:load clubs={clubsIndex} />
  </div>
</Layout>
