---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import InteractiveMap from "@components/InteractiveMap.tsx";
import { clubMappings } from "@data/clubFair";
import type { ClubInfoForMap } from "@types/club";
const allClubsData = await getCollection("clubs");

interface OtMapingInfo {
  summary: string;
  slug?: string;
  tags?: string[];
}

export const OtMapingInfoList: Record<string, OtMapingInfo> = {
  _CK0: {
    summary: "班聯會為建中學生自治組織，擁有完整的行政及立法部門...",
    slug: "/cksc",
  },
  _CK3: { summary: "樂旗隊表演場地" },
  _A06: { summary: "航空社火箭實際發射場地" },
  _CK1: {
    summary: "社團博覽會集章活動紀念品兌換處，集章辦法請見下方連結",
    slug: "/#fair",
  },
};

const p = { summary: "此社團尚未提供詳細資訊。", slug: null, tags: [] };

const clubsDataByCode = new globalThis.Map(
  allClubsData.map((club) => [club.data.clubCode, club])
);

const clubsForMap = Object.entries(clubMappings).map(
  ([clubCode, mappingInfo]): ClubInfoForMap => {
    if (clubCode.startsWith("_")) {
      const clubData = clubsDataByCode.get(clubCode.slice(1));
      return {
        clubCode: clubCode.slice(1),
        ...p,
        ...mappingInfo,
        ...(clubData && {
          name: clubData.data.name,
          summary: clubData.data.summary,
          slug: clubData.slug,
          tags: clubData.data.tags,
        }),
        ...OtMapingInfoList[clubCode],
      } as ClubInfoForMap;
    } else {
      const clubData = clubsDataByCode.get(clubCode);
      console.log(clubData);

      return {
        clubCode: clubCode,
        ...p,
        ...mappingInfo,
        ...(clubData && {
          name: clubData.data.name,
          summary: clubData.data.summary,
          slug: clubData.slug,
          tags: clubData.data.tags,
        }),
      } as ClubInfoForMap;
    }
  }
);
---

<Layout>
  <div class="text-center max-w-6xl mx-auto px-4 mt-12 sm:mt-12 md:mt-0">
    <h1 class="text-4xl sm:text-5xl font-bold text-primary-800 mb-4">
      社團博覽會地圖
    </h1>
    <p class="text-lg text-neutral-600">探索感興趣的社團！</p>
  </div>
  <InteractiveMap client:load clubs={clubsForMap} />
</Layout>
