---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import InteractiveMap from "@components/InteractiveMap.tsx";
import { clubMappings } from "@data/clubFair";
import type { ClubInfoForMap } from "@types/club";
const allClubsData = await getCollection("clubs");

const clubsDataByCode = new globalThis.Map(
  allClubsData.map((club) => [club.data.clubCode, club])
);

const clubsForMap = Object.entries(clubMappings).map(
  ([clubCode, mappingInfo]): ClubInfoForMap => {
    if (clubCode.endsWith("_")) {
      clubCode = clubCode.slice(0, -1);
    }
    const clubData = clubsDataByCode.get(clubCode);
    if (clubCode === "CK0") {
      return {
        clubCode: clubCode,
        mapId: mappingInfo.mapId,
        stampId: mappingInfo.stampId,
        name: mappingInfo.name,
        summary: "班聯會為建中學生自治組織",
        slug: "/cksc",
        tags: [],
        isPlaceholder: true,
      };
    }
    if (clubData) {
      return {
        clubCode: clubCode,
        mapId: mappingInfo.mapId,
        stampId: mappingInfo.stampId,
        name: clubData.data.name,
        summary: clubData.data.summary,
        slug: clubData.slug,
        tags: clubData.data.tags,
        isPlaceholder: false,
      };
    } else {
      return {
        clubCode: clubCode,
        mapId: mappingInfo.mapId,
        stampId: mappingInfo.stampId,
        name: mappingInfo.name,
        summary: "此社團尚未提供詳細資訊。",
        slug: null,
        tags: [],
        isPlaceholder: true,
      };
    }
  }
);
---

<Layout>
  <div class="text-center max-w-6xl mx-auto px-4 mt-12 sm:mt-12 md:mt-0">
    <h1 class="text-4xl sm:text-5xl font-bold text-primary-800 mb-4">
      社團博覽會地圖
    </h1>
    <p class="text-lg text-neutral-600">探索感興趣的社團！</p>
  </div>
  <InteractiveMap client:load clubs={clubsForMap} />
</Layout>
