---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout
  title={frontmatter.title + " | CKClubHub 建中社團資料庫"}
  description={frontmatter.description}
>
  <article class="max-w-3xl mx-auto mb-36">

    <h1 class="mb-2 text-4xl font-bold">{frontmatter.title}</h1>
    {
      frontmatter.date && (
        <p class="text-base mb-3 text-neutral-500">
          {new Date(frontmatter.date).toLocaleDateString()}
        </p>
      )
    }
    <hr class="text-accent-400 border mb-10" />
    <div class="prose prose-base dark:prose-invert mb-20">
      <slot />
    </div>
  </article>
</Layout>
