---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

import EventCard from "@components/ui/cards/EventCard.astro";

const allEvents = await getCollection("events", ({ data }) => {
  return data.date <= new Date();
});

// 按照活動日期排序，最新的在最前面
allEvents.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout
  title="所有活動 | CKClubHub"
  description="探索我們所有過去和即將舉行的活動。"
>
  <main class="max-w-6xl mx-auto px-4 mb-20">
    <div class="text-center mb-12">
      <h1
        class="text-4xl sm:text-5xl font-bold text-primary-800 dark:text-primary-100 mb-4"
      >
        近期活動
      </h1>
      <p class="text-lg text-neutral-600 dark:text-neutral-300">
        探索所有過去和即將舉行的精彩活動。
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 gap-y-14">
      {
        allEvents.map((event) => (
          <EventCard event={event} />
        ))
      }
    </div>
  </main>
</Layout>
