---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

import SearchPage from "@/components/SearchPage";

const clubs = await getCollection("clubs");
const allClubs = clubs.map((club) => ({
  ...club.data,
  slug: club.slug,
}));
---

<Layout title="社團資料庫 | CKClubHub" description="探索所有社團！">
  <div class="max-w-6xl mx-auto px-4 mb-20 ">
    <div class="text-center mb-16">
      <h1 class="text-4xl sm:text-5xl font-bold text-primary-800 mb-4">
        社團資料庫
      </h1>
      <p class="text-lg text-neutral-600">探索建中超過 60 個精彩社團</p>
    </div>
  </div>
  <SearchPage allClubs={allClubs} client:load />
</Layout>
