---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { getImage } from "astro:assets";
import SearchPage from "@/components/SearchPage";

const clubs = await getCollection("clubs");
const allClubs = await Promise.all(
  clubs.map(async (club) => ({
    ...club.data,
    slug: club.slug,
    cardImage: await getImage({
      src: club.data.cardImage,
      format: "avif",
    }),
    bgImage: await getImage({
      src: club.data.bgImage,
      format: "avif",
    }),
    profileImage: await getImage({
      src: club.data.profileImage,
      format: "avif",
    }),
  }))
);
---

<Layout
  title="社團資料庫 | CKClubHub"
  description="在 CKClubHub 上的社團資料庫探索超過 50 個社團！"
  customOgTitle="在 CKClubHub 上的社團資料庫探索超過 50 個社團！"
>
  <div class="max-w-6xl mx-auto px-4">
    <div class="text-center mb-16">
      <h1 class="text-4xl sm:text-5xl font-bold text-primary-800 mb-4">
        社團資料庫
      </h1>
      <p class="text-lg text-neutral-600">探索建中超過 50 個精彩社團</p>
    </div>
  </div>
  <SearchPage allClubs={allClubs} client:load />
</Layout>
